* {
    box-sizing: border-box;
}

body {

/* *************  ROYAL BLUE ON TOP ************  */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0000c2), color-stop(100%, #002357));
    background-attachment: fixed;


/* *************  DARK BLUE ON TOP ************** */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #002357), color-stop(70%, #0000c2)); */

    /* background: #021db6; */
    /* background: #e0dfdf; */
    /* background: white; */
    /* background: darkblue; */
}

/* ******** NAVBAR ******* */
.navbar {
    /* border: 3px solid black; */
    /* width: 100%; */
    padding: 0;
}

.navbar-toggler {
    color: rgb(0, 35, 87);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9de00c), color-stop(100%, #00812b));
    box-shadow: 0px 0px 15px 4px #C0C0C0;
  }
  
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 35, 87)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  /* .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  }  */
  
  .custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(192, 192, 192)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler:hover {
    border: 2px solid #000080;
    border-top: 3px solid #021db6;
    box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  }
  
  nav .navbar-nav li a {
    color: #C0C0C0 !important;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .25em;
    } 
  
  .navbar-toggler:focus {
    outline: 0;
    border: none;
  }
  
  .navbar-brand { 
    /* color: #C0C0C0; */
    font-size: 2em;
    margin-left: 10%;
    margin-top: 1.5%;
  }
  
  .navbar p {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #C0C0C0;
    /* color: #021db6; */
  }

  ul {
      background: rgb(0, 35, 87, 0.8);
      padding-top: 3%;
      padding-bottom: 3%;
      margin-top: 3%;
  }

/* ******** BUTTONS ************  */

.button {
    color: #002357;
    /* background: rgb(236, 231, 226); */
    /* background: white; */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9de00c), color-stop(100%, #00812b));
    /* background-image: radial-gradient(#9de00c 25%, #00812b 90%); */
    width: 95%; 
    padding: 2%;
    /* border: 2px solid #000080;  */
    /* border: 2px solid #000080; */
    ;
    border-top: 20px solid #000080;
    ;
    display:inline-block; 
    outline: none;
    /* box-shadow: 5px 5px #6cbfd8; */
    box-shadow: 0px 0px 15px 2px #C0C0C0;
    transform: translateY(4px);
    border-radius: .40rem; 
    
    /* border 2 */
    /* -webkit-box-shadow:rgba(0, 0, 128, 0.7) 0px 5px 15px, inset rgba(0, 0, 128, 0.15) 0px -10px 20px; */
}

.button:hover {
    box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    /* background-color: rgb(207, 206, 205); */
}

.button:active {
    /* background-color: rgb(158, 151, 151); */
    outline: none;
    /* box-shadow: 0 5px #198ec4; */
    /* transform: translateY(4px); */
    border-radius: .25rem;
    box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    text-shadow:1px 1px 1px #eee;
}

.button:focus {
    outline: 0;
}

#header {
    /* border: 1px solid #5f472d; */
    /* margin-bottom: 3%; */
    /* padding: 5%; */
}

#logo {
    /* border: 1px solid black; */
    /* padding: 4%; */
}

#logo-p {
    color: #002357;
    font-size: 2em;
    font-weight: bold;
}

#employee-tasks-storage {
    /* border: 1px solid #a07663; */
    padding: 2%;
}

#priority-employee-tasks {
    /* border: 1px solid #ce750f; */
}

.priority-row, 
.secondary-row {
    /* border: 1px solid #5f472d; */
    padding: 2%;
    /* padding-top: 3%; */
    /* margin-bottom: 5%; */
}

#secondary-employee-tasks {
    /* border: 1px solid green; */
}

.secondary-row {
    /* border: 1px solid gray; */
}

.material-icons {
    font-size: 2.5em;
    color: #002357;
    /* color: white; */
}

/* ****************  Modal Style  ******************** */
.modal-content {
    background: rgb(224, 223, 223);
    color: #0c5c9c;
    font-size: 1em;
}

.btn-secondary {
    color: #002357;
    /* background: #0c5c9c; */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9de00c), color-stop(100%, #00812b));
    box-shadow: 5px 5px #002357;
    border: none;
}

/* .btn-secondary:hover {
background-color: rgb(207, 206, 205);
}

.btn-secondary:active {
background-color: rgb(158, 151, 151);
box-shadow: 0 5px #198ec4;
transform: translateY(4px);
} */


