* {
    box-sizing: border-box;
}

p {
    font-size: 1.15em;
    font-family: 'Bree Serif', serif;
    font-weight: 800;
}

body {

/* *************  ROYAL BLUE ON TOP ************  */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0000c2), color-stop(100%, #002357));
    background-attachment: fixed;


/* *************  DARK BLUE ON TOP ************** */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #002357), color-stop(70%, #0000c2)); */
}

/* ******** BUTTONS ************  */

.button {
    color: #002357;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9de00c), color-stop(100%, #00812b));

    /* ****** Alternate gradient  ****** */

    /* background-image: radial-gradient(#9de00c 25%, #00812b 90%); */

    width: 90%; 
    padding: 2%;
    border-top: 20px solid #000080;
    display:inline-block; 
    outline: none;
    box-shadow: 0px 0px 15px 2px #C0C0C0;
    transform: translateY(4px);
    border-radius: .40rem; 
}

.button:hover {
    box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.button:active {
    outline: none;
    border-radius: .25rem;
    box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    text-shadow:1px 1px 1px #eee;
}

.button:focus {
    outline: 0;
}

#employee-tasks-storage {
    margin-top: 5%;
    padding: 1%;
}

.priority-row, 
.secondary-row {
    padding: 2%;
}

.material-icons {
    font-size: 2.5em;
    color: #002357;
}

/* ****************  Modal Style  ******************** */
.modal-content {
    background: rgb(224, 223, 223);
    color: #0c5c9c;
    font-size: 1em;
}

.btn-secondary {
    color: #002357;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9de00c), color-stop(100%, #00812b));
    box-shadow: 5px 5px #002357;
    border: none;
}

.btn-secondary:active {
background-color: rgb(158, 151, 151);
box-shadow: 0 5px #198ec4;
transform: translateY(4px);
}


