
* {
    box-sizing: border-box;
}

body {
    background: #e0dfdf;

}



#header {
    /* border: 1px solid red; */
    /* margin-bottom: 5%; */
}

#logo {
    /* border: 1px solid black; */
    /* border-bottom: 3px solid #021db6; */
    /* width: 75%; */
    font-size: 3em;
    margin-top: 8%;
    /* padding-bottom: 2%; */
} 

.form-storage {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9de00c), color-stop(100%, #00812b));
    border: 5px solid #021db6;
    margin-top: 12%;
    padding-top: 5%;
}

.btn-default {
    /* color: white; */
    /* background: black; */
    color: #021db6;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9de00c), color-stop(100%, #00812b));
    border: 2px solid #021db6;
    box-shadow: 3px 3px #000080;
}

.btn-default:hover {
    box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.btn-default:active {
    border-radius: .25rem;
    box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    text-shadow:1px 1px 1px #eee;
}

label {
    margin-bottom: 2%;
    color: #021db6;
}

/* #login-container {
    border: 1px solid green;
    padding: 3%;
    background: gray;
}

#login-form-storage {
    border: 5px solid rgb(21, 48, 130);
    padding: 5%;
    background: rgb(223, 148, 9);
}

input {
    margin-bottom: 1%;
}



.btn-primary {
    background-color: rgb(223, 148, 9)
} */

