* {
    box-sizing: border-box;
}
body {
    /* background: #e0dfdf; */

/* ********  GREEN  MODE  ********** */
    /* background: -webkit-gradient(linear, left top,left bottom, color-stop(20%, #00812b), color-stop(100%, #9de00c)); */

/* **********  LIGHT BLUE TOP  *********** */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0000c2), color-stop(100%, #002357));

/* **********  DARK BLUE TOP ************* */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #002357), color-stop(80%, #0000c2)); */
    background-attachment: fixed;
}

#logo {
    color: #C0C0C0;
    font-size: 3em;
    margin-top: 8%;
} 
.form-storage {
    background: -webkit-gradient(linear, right bottom, left top, color-stop(5%, #00812b), color-stop(85%, #9de00c));
    box-shadow: 0px 0px 200px 30px #C0C0C0;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 12%;
    padding-top: 5%;
    border-radius: .70rem; 
    border-top: 20px solid #000080;

    /* ****************  Different gradient  ********************  */

    /* background-image: radial-gradient(#9de00c 5%, #00812b 90%); */

/* ********************  GOLD MODE  ************************  */

    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #c0b12c), color-stop(100%, #FEE935)); */
}
.btn-default {
    color: #002357;
    background: #C0C0C0;
    box-shadow: 5px 5px 10px #002357;
}

.btn-default:hover {
    color: #000080;
    box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.btn-default:active {
    border-radius: .25rem;
    box-shadow: rgba(255,255,255,0.25) 0px 1px 0px, inset rgba(255,255,255,0.03) 0px 20px 0px, inset rgba(0,0,0,0.15) 0px -20px 20px, inset rgba(255,255,255,0.05) 0px 20px 20px;
    text-shadow:1px 1px 1px #eee;
}

label {
    margin-bottom: 2%;
    /* color: #C0C0C0; */
    color: #002357;
    /* color: #021db6; */
    /* color: white; */
    /* color: #e0dfdf; */
}

.form-control {
    background: #C0C0C0;
    color: #002357;
    /* border: 3px solid #021db6; */
    border: 3px solid #002357;
}

:-webkit-input-placeholder {
    color: #002357;
}

input[type="email"].form-control::-webkit-input-placeholder {
    color: #002357;
}

input[type="password"].form-control::-webkit-input-placeholder {
    color: #002357;
}